<html>
<head>
  <title>Web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="index.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="main" class="is-loading">
      <h1>4ndrexyz Bot</h1>
      <p>Online !</p>
    </div>

    <div class="sosmed">
      <a href="https://github.com/4ndrexyz/AndrexyzBot"
        ><i
          class="bi-github"
          role="img"
          aria-label="GitHub"
          style="font-size: 2rem; color: white; margin-right: 20px;"
        ></i
      ></a>
      <a href="https://www.instagram.com/4ndrexyz_/"
        ><i
          class="bi-instagram"
          role="img"
          aria-label="Instagram"
          style="font-size: 2rem; color: white; margin-right: 20px;"
        ></i
      ></a>
      <a href="https://wa.me/6289525618110?text=.menu"
        ><i
          class="bi-whatsapp"
          role="img"
          aria-label="Whatsapp"
          style="font-size: 2rem; color: white"
        ></i
      ></a>
    </div>

</body>
</html>